{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
  <div class="post-list">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
    {{ range $paginator.Pages }}
    {{ if .Draft }}
      {{ .Scratch.Set "draftPage" true }}
    {{ else }}
      {{ .Scratch.Set "draftPage" false }}
    {{ end }}
    <article>
        <header>
          <h1><a href="{{ .RelPermalink }}" {{if .Scratch.Get "draftPage" }}class="draft"{{end}}>{{ .Title }}</a></h1>
          {{ with .Params.subtitle }}
          <span class="post__subtitle">
            {{.}}
          </span>
          {{ end }}
          {{ partial "page-single/post-meta.html" . }}
        </header>
        <div class="post">
          {{ .Content }}
        </div>
      </article>
     {{ end }}
  </div>
  {{ partial "pagination.html" . }}
{{ end }}

{{ define "footer" }}
  {{ if .Site.GoogleAnalytics }}
    <!-- Google Analytics -->
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
  {{ partial "footer/font-awesome-js.html" . }}
{{ end }}
